
html, body{
  overflow: hidden;
}

body{
  font-family: 'Poppins', Sans-Serif;
  background: #0f172a;
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: start;
  min-height: 100vh;
  padding-top: 50px;
  margin: 0;
}



h1{
  color: #fcd34d;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}



input{
  width: 280px;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: #f8fafc;
  outline: none;
  margin-bottom:15px;
  transition: box-shadow 0.2s ease; /*input focus*/
}



input:focus{ 
  box-shadow: 0 0 6px rgba(252, 211, 77, 0.4); /*focus rengi*/
}



ul{
  list-style: none  ;
  padding: 0;
  max-height: 250px;
  overflow: auto;
  background: #1e293b;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}



li{
  padding: 10px;
  border-bottom: 1px solid #334155;
  cursor: pointer;
  transition: background 0.2s;
}



li:hover   {
  background: #334155;
}



.price{
  margin-top: 25px;
  font-size: 22px;
  background: #1e293b;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
}





/*responsie*/
@media (max-width: 480px) {
  body {
    padding-top: 30px;
  }

  h1 {
    font-size: 22px;
  }
  input, ul {
    width: 90%; 
  }

  .price {
    width: 90%;
    font-size: 18px;
    padding: 12px 18px;
  }
}