html, body{
  overflow: hidden;
}

body{
  font-family: 'Segoe UI', Tahoma, sans-serif;
  /* background: #0f172a; */
  background-color: #0e1117;
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: start;
  min-height: 100vh;
  padding-top: 50px;
  margin: 0;  
}

/*scroll bar gözükmez ama daha zarif bi kaydırma için*/

/*
body::-webkit-scrollbar {
  display: none;
}
  */


h1{
  color: #fcd34d;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}



input{
  width: 300px;
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1a1f27;
  color: #fff;
  text-align: center;
  margin-bottom:15px;
  transition: box-shadow 0.2s ease; /*input focus*/
}


input:focus{ 
  box-shadow: 0 0 6px rgba(252, 211, 77, 0.4); /*focus rengi*/
}



ul{
  list-style: none  ;
  padding: 0;
  max-height: 200px;
  overflow: auto !important;
  background: #1a1f27;
  border-radius: 8px;
  width: 330px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
  


/*Listenin elemanlarını özelleştir*/
#coinList li {
  padding: 10px;
  border-bottom: 1px solid #2b2f36;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s ease;
}

#coinList li:hover {
  background: #00bcd4;
  color: #000;
}


/* scroll barı gizle */
#coinList::-webkit-scrollbar {
  display: none;
}


/*alttaki fiyat kısmı*/
#price{
  margin-top: 20px;
  font-size: 18px;
  background: #1e293b;
  padding: 15px 25px;
  border-radius: 10px;
  text-align: center;
}



/*responsive*/
@media (max-width: 480px) {
  body {
    padding-top: 30px;
  }

  h1 {
    font-size: 22px;
  }
  input, ul {
    width: 90%; 
  }

  .price {
    width: 90%;
    font-size: 18px;
    padding: 12px 18px;
  }
}






